<a href="https://colab.research.google.com/github/AlxeverCodeX/Dphi_Mini_Bootcamp-2021/blob/main/DPhi_Bootcamp_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df =  pd.read_csv("https://raw.githubusercontent.com/dphi-official/Datasets/master/covid_19_data.csv")

In [ ]:
df

         SNo ObservationDate      Province/State  ... Confirmed Deaths  Recovered
0          1      01/22/2020               Anhui  ...       1.0    0.0        0.0
1          2      01/22/2020             Beijing  ...      14.0    0.0        0.0
2          3      01/22/2020           Chongqing  ...       6.0    0.0        0.0
3          4      01/22/2020              Fujian  ...       1.0    0.0        0.0
4          5      01/22/2020               Gansu  ...       0.0    0.0        0.0
...      ...             ...                 ...  ...       ...    ...        ...
40800  40801      06/12/2020           Zacatecas  ...     501.0   55.0      279.0
40801  40802      06/12/2020  Zakarpattia Oblast  ...    1506.0   38.0      675.0
40802  40803      06/12/2020   Zaporizhia Oblast  ...     515.0   15.0      322.0
40803  40804      06/12/2020            Zhejiang  ...    1268.0    1.0     1267.0
40804  40805      06/12/2020     Zhytomyr Oblast  ...    1013.0   17.0      527.0

[40805 rows x 8 columns]

In [ ]:
df.head(10)

   SNo ObservationDate Province/State  ... Confirmed Deaths  Recovered
0    1      01/22/2020          Anhui  ...       1.0    0.0        0.0
1    2      01/22/2020        Beijing  ...      14.0    0.0        0.0
2    3      01/22/2020      Chongqing  ...       6.0    0.0        0.0
3    4      01/22/2020         Fujian  ...       1.0    0.0        0.0
4    5      01/22/2020          Gansu  ...       0.0    0.0        0.0
5    6      01/22/2020      Guangdong  ...      26.0    0.0        0.0
6    7      01/22/2020        Guangxi  ...       2.0    0.0        0.0
7    8      01/22/2020        Guizhou  ...       1.0    0.0        0.0
8    9      01/22/2020         Hainan  ...       4.0    0.0        0.0
9   10      01/22/2020          Hebei  ...       1.0    0.0        0.0

[10 rows x 8 columns]

In [ ]:
df.dtypes

SNo                  int64
ObservationDate     object
Province/State      object
Country/Region      object
Last Update         object
Confirmed          float64
Deaths             float64
Recovered          float64
dtype: object

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40805 entries, 0 to 40804
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   SNo              40805 non-null  int64
 1   ObservationDate  40805 non-null  object
 2   Province/State   22790 non-null  object
 3   Country/Region   40805 non-null  object
 4   Last Update      40805 non-null  object
 5   Confirmed        40805 non-null  float64
 6   Deaths           40805 non-null  float64
 7   Recovered        40805 non-null  float64
dtypes: float64(3), int64(1), object(4)
memory usage: 2.5+ MB

In [ ]:
df['ObservationDate']= pd.to_datetime(df['ObservationDate'])
df['Last Update']= pd.to_datetime(df['Last Update'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40805 entries, 0 to 40804
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   SNo              40805 non-null  int64
 1   ObservationDate  40805 non-null  datetime64[ns]
 2   Province/State   22790 non-null  object
 3   Country/Region   40805 non-null  object
 4   Last Update      40805 non-null  datetime64[ns]
 5   Confirmed        40805 non-null  float64
 6   Deaths           40805 non-null  float64
 7   Recovered        40805 non-null  float64
dtypes: datetime64[ns](2), float64(3), int64(1), object(2)
memory usage: 2.5+ MB

In [ ]:
df.rename(columns= {'Last Update':'LastUpdate'}, inplace=True)

In [ ]:
df.head(5)

   SNo ObservationDate Province/State  ... Confirmed Deaths  Recovered
0    1      2020-01-22          Anhui  ...       1.0    0.0        0.0
1    2      2020-01-22        Beijing  ...      14.0    0.0        0.0
2    3      2020-01-22      Chongqing  ...       6.0    0.0        0.0
3    4      2020-01-22         Fujian  ...       1.0    0.0        0.0
4    5      2020-01-22          Gansu  ...       0.0    0.0        0.0

[5 rows x 8 columns]

In [ ]:
updated_data = df.groupby('LastUpdate')

In [ ]:
updated_data.first()

                       SNo ObservationDate  ... Deaths Recovered
LastUpdate                                  ...
2020-01-22 17:00:00      1      2020-01-22  ...    0.0       0.0
2020-01-23 17:00:00     39      2020-01-23  ...    0.0       0.0
2020-01-24 17:00:00     85      2020-01-24  ...   24.0      31.0
2020-01-25 17:00:00    126      2020-01-25  ...   40.0      32.0
2020-01-26 16:00:00    170      2020-01-26  ...   52.0      42.0
...                    ...             ...  ...    ...       ...
2020-06-09 03:33:03  37255      2020-06-08  ...  369.0    2171.0
2020-06-10 04:07:00  37939      2020-06-09  ...  384.0    2651.0
2020-06-11 03:33:41  38623      2020-06-10  ...  405.0    3013.0
2020-06-12 05:09:52  39348      2020-06-11  ...  426.0    3326.0
2020-06-13 03:33:14  40077      2020-06-12  ...  446.0    3928.0

[1883 rows x 7 columns]

In [ ]:
updated_data.loc[2020-06-13 03:33:14 ]

SyntaxError: ignored

In [ ]:
#updated_data.Country/Region.unique()